@import url(./assets/fonts/recoletaWebFont/recoleta.css);

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #eaeaea !important;
}

.img__hero {
    background-color: #8155ad;
  }

.hero__img{
    height: 800px;
}

.img__deco{
    left: 49rem;
    bottom: 17.5rem;
}

/* .hero__container{
    background-color: #efefef !important;
}
 */

.icon{
    height: 100px;
    width: 100px;
}

.icon__tech{
    margin-top: 1rem;
    height: 25px;
    width: 32px;
}

.subrrayado{
    color: #4f46e5;
}

.h1__hero{
    color: #462dff;
    /* background-color: #532dff8c; */
    background: radial-gradient(circle, rgba(255, 230, 241, 0.407) 50%, #532dff8c 100%) !important;
    transform: rotate(2deg);
    border-radius: 4rem 0rem 5rem 0rem;
}

.hero__desc{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.cards__container{
    margin: 0 1rem;
}

.card__container{
    background: radial-gradient(circle, rgba(255, 230, 241, 0.407) 50%, #80caff99 100%) !important;
    border-radius: 2rem 2rem;
    border: 1px #333333 solid;
    box-shadow: 3px 3px #333333;
    transition: box-shadow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.card__container--front{
    background: radial-gradient(circle, rgba(255, 230, 241, 0.407) 50%, #94e9c7 100%) !important;

}

.card__btn, .hero_btn{
    border-radius: 2rem 2rem;
    border: 1px #333333 solid;
    box-shadow: 3px 3px #333333;
    transition: box-shadow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: white !important;
    color: black !important;
}

.card__btn:hover{
    color: #6f55ad !important;
    border: 1px #c387ff solid;
    box-shadow: 3px 3px #c387ff;
    transition: box-shadow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: white !important;
}
.hero-btn:hover{
    color: #8155ad !important;
    border: 1px #c387ff solid;
    box-shadow: 3px 3px #c387ff;
    transition: box-shadow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: white !important;
}



/* TEST */

.section__test {
    font-family: "Recoleta", sans-serif;
    font-weight: 300;
    display: grid;
    place-content: center;
}

.section__test p {
    font-size: clamp(2rem, 4vw, 8rem);
}

